.clutch-skeleton {
  background: linear-gradient(90deg, var(--color-gray-300), var(--color-gray-200));
  animation: gradient 2s linear infinite;
  height: 100%;
  width: 80px;
  background-size: 400% 400%;
  color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}
