@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-brand-primary: #7146b5;

  --color-black: #000;
  --color-white: #fff;

  --color-gray-700: #585858;
  --color-gray-800: #424242;

  --color-green-0: #ebf5eb;
}
